body{
    margin: 0 auto;
    width: 50vw;
    background-color:aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.oculto{
    visibility: hidden;
}

.rojo{
    background-color: red;
}

.borde_negro{
    border: 1px solid black;
}

.m20{
    margin:20px;
}

h3{
    text-align: center;
}