body{
    /*width: 50%;*/
    width: 60vw;
    margin: 0 auto;
    background-color: lightblue;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

.rojo{
    background-color: red;
}

h3{
    text-align: center;
    margin: 0px;
}

.borde{
    border: 3px solid lightblue;
    padding: 10px 0px;
    width: 85%; 
}

p{
    margin: 10px;
}

.dp_none{
    display:none;
}

.borde_negro{
    border: 1px solid;
}

.contenedor-flex-columna{
    background-color: bisque;
    /*padding: 10px 50px 50px 50px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor-flex-fila {
    display: flex;
    padding: 0;
    margin: 0;
}

.flex-columna{
    flex-direction: column;
}
  
.ai-center{
    align-items: center;
}

.jc-center{
    justify-content: center;
}

.gap{
    gap:10px;
}
  
ul{
    list-style: none;
}