body{
    width: 50vw;
    margin: 0 auto;
    background-color: lightblue;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.fondo_rojo{
    background-color: red;
}

.fondo_verde{
    background-color: green;
}

.borde_rojo{
    border: 3px solid red;
}

.borde_verde{
    border: 3px solid green;
}

.letra_grande{
    font-size: 1.15rem;
}

.letra_pequeña{
    font-size: 0.85rem;
}

h1, h2, h3{
    text-align: center;
    margin: 0px;
}

.borde{
    border: 3px solid lightblue;
    padding: 10px 0px;
    width: 85%; 
}

p{
    margin: 10px;
}

.dp_none{
    display:none;
}

.contenedor-flex-columna{
    background-color: bisque;
    /*padding: 10px 50px 50px 50px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor-flex-fila {
    display: flex;
    padding: 0;
    margin: 0;
}

.flex-columna{
    flex-direction: column;
}
  
.ai-center{
    align-items: center;
}

.jc-center{
    justify-content: center;
}

.gap{
    gap:10px;
}
  
ul:not(.lista_viñetas){
    list-style: none;
    padding: 0px;
}

ul, ol{
    padding-left: 10px;
    margin:0px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
}


table th {
    text-align: center;
    font-weight: bold;
}
  
table td {
    width: 150px;
    white-space: nowrap;
    text-align: center;
    vertical-align: bottom;
    padding-top: 5px;
    padding-bottom: 12px;
}
  

table .highlight {
    background: red;
}

th{
    background-color: aqua;
}

td{
    background-color:azure;
}

.caja_mensajes{
    border: 1px solid black;
    width: 90%;
    height: 180px;
    cursor: pointer;
    overflow: scroll;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(248, 240, 230);
}

.caja_teclado{
    width: 90%;    
}

.fijo{
    position: fixed;
    top: 0px;
    background-color: lightcoral;
    margin: 0px;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid red;
}

.oculto{
    visibility: hidden;
}



#error{
    position: absolute;
    top: -30px;
    left: 200px;
    background: red;
    color: white;
    padding: 5px;
    
}

.relativo{
    position: relative;
    width: 100%;
}

.texto_pequeño{
    font-size: 0.75rem;
}

#map-wrapper, #map{
    width: 100%;
    height: 400px;
}

